<footer class="footer-section" th:fragment="footer">
        <div class="footer-content">
            <div class="footer-column">
                <h4>Về Chúng Tôi</h4>
                <p>Điều khoản</p>
                <p>Chính sách bảo mật</p>
            </div>
            <div class="footer-column">
                <h4>Cộng Đồng</h4>
                <p>Chăm sóc khách hàng</p>
                <p>Blog</p>
                <p>Danh mục</p>
            </div>
            <div class="footer-column">
                <h4>Địa Chỉ</h4>
                <p>Công ty TNHH Công Nghệ Giáo Dục Topica Việt Nam</p>
                <p>MST: 0109475876</p>
                <p>Địa chỉ: Tầng 6, Tòa nhà Kim Khí Thăng long, Số 1 Lương Yên, Phường Bạch Đằng, Quận Hai Bà Trưng, Thành phố Hà Nội, Việt Nam</p>
                <p>Email: trogiup@edumall.vn</p>
                <div class="footer-social">
                    <a href="#"><i class="fab fa-facebook" style="color: #007bff"></i></a>
                    <a href="#"><i class="fab fa-youtube" style="color: red"></i></a>
                </div>
            </div>
            <div class="footer-column">
                <h4>Tải App D-Learning</h4>
                <a href="#"><img th:src="@{/user/images/store-play.png}" alt="App Store"></a>
            </div>
        </div>
        <div class="footer-note">
            <p>&copy; 2024 Công ty TNHH Công Nghệ Giáo Dục Topica Việt Nam. All rights reserved.</p>
        </div>
</footer>