<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/head :: head}">
    <title>Login</title>
</head>

<body>

<div class="page-wrapper">

    <div th:replace="~{layout/header :: header}"></div>

    <!-- Content Section -->
    <div class="content">
        <h2>Đăng nhập</h2>
        <div class="social-login">
            <button class="facebook"><img
                    src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg"
                    alt="Facebook"> Continue with Facebook</button>
            <button class="google"><img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8-T6jr1g5UvXbv06Y-_lCjAtaLF1NBobQKg&s"
                    alt="Google"> Continue with Google</button>
            <button class="apple"><img
                    src="https://w7.pngwing.com/pngs/695/105/png-transparent-apple-logo-business-apple-logo-outline-heart-logo-computer-wallpaper-thumbnail.png"
                    alt="Apple"> Continue with Apple</button>
        </div>

        <div class="divider">Hoặc tiếp tục với</div>


        <form id="login-form" action="/login" method="post">

            <div class="form-group">
                <label for="username">Username</label>
                <input type="email" id="username" name="username" placeholder="Enter Email">
            </div>
            <div class="form-group">
                <label for="password">Mật khẩu</label>
                <input type="password" id="password" name="password" placeholder="Enter Password">
            </div>
            <p class="message">Cannot Empty</p>
            <button type="submit" class="login-button">Đăng Nhập</button>
            <div class="additional-options">
                <p><a href="#">Đăng nhập bằng Số điện thoại</a></p>
                <p><a href="#">Quên mật khẩu?</a></p>
                <p>Bạn chưa có tài khoản? <a href="#">Đăng ký</a></p>
            </div>
        </form>
    </div>

    <!-- Footer Section -->
    <div class="footer">
        <p>&copy; 2024 D-Learning. All rights reserved.</p>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        let username = $('#username');
        let password = $('#password');
        let message = $('.message');

        message.css('visibility', 'hidden');

        function checkInputs() {
            if (username.val().trim() === '' || password.val().trim() === '') {
                message.css('visibility', 'visible');
            } else {
                message.css('visibility', 'hidden');
            }
        }

        username.on('focus input', checkInputs);
        password.on('focus input', checkInputs);

        $('#login-form').on('submit', function(event){
            if (username.val().trim() === '' || password.val().trim() === '') {
                message.css('visibility', 'visible');
                event.preventDefault();
            } else {
                message.css('visibility', 'hidden');
            }
        });
    });
</script>
</body>

</html>